<a href="https://colab.research.google.com/github/20146467/TRITUENHANTAO/blob/main/AI_17_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#load library
import pandas as pd 
#creta library
df = pd.DataFrame() 
# add columns
df['Name'] = ['Lemon', 'Apple', 'Banana']
df['Price'] = [5, 8 ,7]
df['License'] = [False, True, True] 
#show data
df

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
#số lượng quan sát not-null của mỗi trường trong dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Price    3 non-null      int64
 2   License  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [ ]:
#giá trị trung bình, độ lệch chuẩn, min, max và tỷ lệ phần trăm của các cột
df.describe()

          Price
count  3.000000
mean   6.666667
std    1.527525
min    5.000000
25%    6.000000
50%    7.000000
75%    7.500000
max    8.000000

In [ ]:
#lấy ra tên cột trong DataFrame
list(df.columns)

['Name', 'Price', 'License']

In [ ]:
df.loc[df.Price == 5]

    Name  Price  License
0  Lemon      5    False

In [ ]:
df.loc[(df.Price == 5) | (df.Name == 'Banana')]

     Name  Price  License
0   Lemon      5    False
2  Banana      7     True

In [ ]:
df.loc[(df.Price == 5 ) | (df.Name  == 'Banana'), ['Name', 'Price']]

     Name  Price
0   Lemon      5
2  Banana      7

In [ ]:
#lấy giá trị từ 0 đến 2
df.iloc[0:2]

    Name  Price  License
0  Lemon      5    False
1  Apple      8     True

In [ ]:
df.iloc[0:2,0:-1]

    Name  Price
0  Lemon      5
1  Apple      8

In [ ]:
sum = df.Price.sum()
print(sum)

20

In [ ]:
max = df.Price.max()
print(max)

8

In [ ]:
count = df['Price'] .count()
print(count)

3

In [ ]:
# create row data
new = pd.Series(['Orange', 10, True], index = ['Name', 'Price', 'License'])
# appned row (thêm hàng mới)
df.append(new, ignore_index = True)

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True
3  Orange     10     True

In [ ]:
#append a column(thêm cột mới)
df['Location'] = ['USA', 'VN', 'THAILAND']
df

     Name  Price  License  Location
0   Lemon      5    False       USA
1   Apple      8     True        VN
2  Banana      7     True  THAILAND

In [ ]:
#delete row
df.drop(['Location','Name'] ,axis = 1)

   Price  License
0      5    False
1      8     True
2      7     True

In [ ]:
# load library
import pandas as pd
# create url
url = 'http://winterolympicsmedals.com/medals.csv'
# load data
df1 = pd.read_csv(url)
# show data
df1.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
df1.shape

(2311, 8)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          2311 non-null   int64
 1   City          2311 non-null   object
 2   Sport         2311 non-null   object
 3   Discipline    2311 non-null   object
 4   NOC           2311 non-null   object
 5   Event         2311 non-null   object
 6   Event gender  2311 non-null   object
 7   Medal         2311 non-null   object
dtypes: int64(1), object(7)
memory usage: 144.6+ KB

In [ ]:
df1.describe()

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [ ]:
list(df1.columns)

['Year',
 'City',
 'Sport',
 'Discipline',
 'NOC',
 'Event',
 'Event gender',
 'Medal']

In [ ]:
df1.loc[df1.NOC == 'AUT'].head(5)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
49,1928,St. Moritz,Skating,Figure skating,AUT,individual,M,Silver
50,1928,St. Moritz,Skating,Figure skating,AUT,individual,W,Silver

In [ ]:
df1.iloc[0:2, 0:6]

   Year      City    Sport      Discipline  NOC       Event
0  1924  Chamonix  Skating  Figure skating  AUT  individual
1  1924  Chamonix  Skating  Figure skating  AUT  individual

In [ ]:
max = df1.Year.max()
print(max)

2006

In [ ]:
min = df1.Year.min()
print(min)

1924

In [ ]:
data = df1.head()
data.count()

Year            5
City            5
Sport           5
Discipline      5
NOC             5
Event           5
Event gender    5
Medal           5
dtype: int64

In [ ]:
data[(data['Year']>=1990)&(data['Year']<=2006) & (data['NOC']=='USA')&(data['Event gender']=='W')&(data['Medal']=='Gold')].head(10)

Empty DataFrame
Columns: [Year, City, Sport, Discipline, NOC, Event, Event gender, Medal]
Index: []